body{
	margin: 0;
	padding: 0;
}
.parallax-container{
	height: 100vh;
}
section{
	width: 100%;
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}
section .content{
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}